/* Geral */
*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}


ul{
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5;
}

.nav-bar {
background-color: #58C2D1;
position: sticky;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
width: 100%;
height:80px;
padding-right: 15px;
}

.nav-bar img{
    width: 130px;
    margin-left: 20px;
  
}

#nav-links{
    display: flex;
    gap: 1rem;
    margin-right: 40px;
}

#nav-links a{
    color: #fff;
    font-size: 20px;

}

/* Conteúdo principal */
.container-main{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    gap: 3rem;
    
}

#post-main{
    flex: 3 1 0;
}

#post-main h2{
    font-size: 60px;

}

#post-main h2:hover{
    color: #58C2D1;
}

.post{
    margin-bottom: 2.5rem;
}
.post-img{
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.description,
.btn-post
{
    margin-bottom: 1rem;
}

.btn-post{
    background-color: #58C2D1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* barra lateral */

#siderbar{
    flex: 1 1 0;
}

#search,
#categories,
#tags {
    padding: 2rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#search h4,
#categories h4,
#tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.form-aside{
    display: flex;
}

.form-aside input[type="text"]{
    border:1px solid #ddd;
    padding:5px;
    border-radius: 3px;
}

.form-aside input[type="submit"] {
    background-color: #58C2D1;
    color: #fff;
    border: #fff;
    padding:10px;
    border-radius: 3px;
}
#tag-container{
    padding-left: 1px;
   
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tag-container a{
    background-color: #58C2D1;
    color: #fff;
    padding: .5rem .7rem;
    border-radius: 3px;;
}

/* cabeçalho */

footer{
    background-color: #58C2D1;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #fff;
}
.copy{

    font-size: 12px;
}

/* responsivo */

@media (max-width: 450px){
    .container-main{
        flex-wrap: wrap;
    }
}