*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*  Header page */
.form-header{
    border-bottom: 1px solid #ccc;
    text-align: center;
    z-index: 2;
    margin-bottom: 15px;
}

.form-header h2 {
   border-top: 1px solid #673ab7;
   width: 200px;
   z-index: 3;
   margin: auto;

}
h1{
    font-weight: 100;
}
.header{
    height: 160px;
    padding: 20px;
    background-color: #673ab7;
    
    z-index: 1;
}

.header-title{
    color: white;
}

/* Body page */
body{
    background-color: #f0ebf8;
    
}

h1,
h2,
h3,
h4,
h5{
    color: #333;
} 

p,
label{
    color: #444;
    font-weight:500;
    font-size: 15px;
}

textarea{
    padding: 10px 5px;
}


.form-body{
    background-color: #e3deeb;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    padding-top: 15px;
    position: relative;
    top: -60px;
    
}

.required{
    color: red;
}

.form-input{
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #e3deeb;
    color:#444;
    padding: 10px 0;
    width: 400px;
    display: block;
    z-index: 2;
    margin: 10px 15px;
}
.form-select{
    display: block;
    margin-top: 10px;
    margin-bottom: -5px;
}
.form-radio{
    padding-top: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom:px;
}

.form-check{
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-file{
    border: none;
    background-color: #e3deeb;
    color:#444;
    width: 400px;
    display: block;
    margin: 10px 0;
}

.btn-submit{
    background-color: #673ab7;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    margin-top: 5px;
}
.center-btn{
    margin-top: 25px;
   
}
